<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Editing Tweeet</h1>
        <%= render 'form', tweet: @teeet %>
        <%= link_to 'Cancel', tweets_path, class: "button is-dark" %>
      </div>
    </div>
  </div>
</div>
